APP_NAME="AI CỦA TÔI"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://aicuatoi.net

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gpt_plus
DB_USERNAME=root
DB_PASSWORD=

SESSION_LIFETIME_DAYS=365

FILESYSTEM_DISK=public_uploads
